.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 6px;
  margin: 6px;
}

.animal-name {
  font-size: 14px;
  text-align: center;
  margin-bottom: 5px;
  text-transform: capitalize;
}
