:host {
  transform-style: preserve-3d;
  height: 100%;
  width: 100%;
}

.face {
  backface-visibility: hidden;
  height: inherit;
  width: inherit;
}

.front {
  transform: rotateY(180deg);
  position: absolute;
  background: lightgray;
}

.back-side {
  background: url(/assets/img/card_back.png);
  background-size: contain;
}
