/* BonBon Buttons 1.1 by simurai.com

1.1 Added unprefixed attributes, :focus style, <button> support
1.0 Released

Usage:

	Default button: 			<a href="" class="button">Label</a>
	More fancy with icon: 		<a href="" class="button orange glossy" data-icon="★">Label</a>

Following additional class names are supported:

	Color: 		orange, pink, blue, green, transparent
	Font: 		serif
	Material: 	glossy, glass
	Size: 		xs, xl
	Shape: 		round, oval, brackets, skew, back, knife, shield, drop, morph
	Icon only: 	icon
	Disabled:	disabled

*/

//@import url(http://fonts.googleapis.com/css?family=Droid+Sans:bold+Lobster);
//@import url(http://fonts.googleapis.com/css?family=Lobster);

/* -------------- THE button -------------- */

/* :root {

}
 */
[bonbon] {
  --hue: 0deg;
  --sat: 100%;
  --lig: 0%;

  --color-hue: var(--hue);
  --color-sat: var(--sat);
  --color-lig: var(--lig);

  --bg-color-hue: var(--hue);
  --bg-color-sat: var(--sat);
  --bg-color-lig: calc(var(--lig) + 30%);

  --bs-top-hue: var(--hue);
  --bs-top-sat: var(--sat);
  --bs-top-lig: calc(var(--lig) + 15%);

  --bs-bot-hue: var(--hue);
  --bs-bot-sat: var(--sat);
  --bs-bot-lig: var(--lig);

  --hover-hue: var(--hue);
  --hover-sat: var(--sat);
  --hover-lig: calc(var(--lig) + 40%);

  /* text */
  text-decoration: none;
  font: 24px/1em 'Droid Sans', sans-serif;
  font-weight: bold;
  text-shadow: rgba(255, 255, 255, 0.5) 0 1px 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;

  /* layout */
  display: inline-block;
  position: relative;

  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;

  /* effects */
  border-top: 1px solid rgba(255, 255, 255, 0.8);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);

  background-image: -webkit-gradient(radial, 50% 0, 100, 50% 0, 0, from(rgba(255, 255, 255, 0)), to(rgba(255, 255, 255, 0.7)));
  background-image: -moz-radial-gradient(top, ellipse cover, rgba(255, 255, 255, 0.7) 0%, rgba(255, 255, 255, 0) 100%);
  background-image: gradient(radial, 50% 0, 100, 50% 0, 0, from(rgba(255, 255, 255, 0)), to(rgba(255, 255, 255, 0.7)));

  -webkit-transition: background 0.2s ease-in-out;
  -moz-transition: background 0.2s ease-in-out;
  transition: background 0.2s ease-in-out;

  /* colors */
  color: hsl(var(--color-hue) var(--color-sat) var(--color-lig)) !important;

  background-color: hsl(var(--bg-color-hue) var(--bg-color-sat) var(--bg-color-lig));

  --box-shadow: inset rgba(255, 254, 255, 0.6) 0 0.3em 0.3em, inset rgba(0, 0, 0, 0.15) 0 -0.1em 0.3em,
    hsl(var(--bs-top-hue) var(--bs-top-sat) var(--bs-top-lig)) 0 0.1em 3px,
    hsl(var(--bs-bot-hue) var(--bs-bot-sat) var(--bs-bot-lig)) 0 0.3em 1px, rgba(0, 0, 0, 0.2) 0 0.5em 5px;

  -webkit-box-shadow: var(--box-shadow);
  -moz-box-shadow: var(--box-shadow);
  box-shadow: var(--box-shadow);

  &:hover {
    background-color: hsl(var(--hover-hue) var(--hover-sat) var(--hover-lig));
  }
}

button[bonbon] {
  padding: 10px 5px;
}

/* -------------- colours -------------- */
/* default */
[bonbon] {
  --color-hue: 0deg;
  --color-sat: 0%;
  --color-lig: 45%;

  --bg-color-hue: 0deg;
  --bg-color-sat: 0%;
  --bg-color-lig: 75%;

  --bs-top-hue: 0deg;
  --bs-top-sat: 0%;
  --bs-top-lig: 60%;

  --bs-bot-hue: 0deg;
  --bs-bot-sat: 0%;
  --bs-bot-lig: 45%;

  --hover-hue: 0deg;
  --hover-sat: 0%;
  --hover-lig: 83%;
}

/* orange */
[bonbon].orange {
  --color-hue: 39deg;
  --color-sat: 100%;
  --color-lig: 30%;

  --bg-color-hue: 39deg;
  --bg-color-sat: 100%;
  --bg-color-lig: 50%;

  --bs-top-hue: 39deg;
  --bs-top-sat: 100%;
  --bs-top-lig: 40%;

  --bs-bot-hue: 39deg;
  --bs-bot-sat: 100%;
  --bs-bot-lig: 30%;

  --hover-hue: 39deg;
  --hover-sat: 100%;
  --hover-lig: 65%;
}

/* blue */
[bonbon].blue {
  --color-hue: 208deg;
  --color-sat: 50%;
  --color-lig: 40%;

  --bg-color-hue: 208deg;
  --bg-color-sat: 100%;
  --bg-color-lig: 75%;

  --bs-top-hue: 208deg;
  --bs-top-sat: 50%;
  --bs-top-lig: 55%;

  --bs-bot-hue: 208deg;
  --bs-bot-sat: 50%;
  --bs-bot-lig: 40%;

  --hover-hue: 208deg;
  --hover-sat: 100%;
  --hover-lig: 83%;
}

/* green */
[bonbon].green {
  --color-hue: 88deg;
  --color-sat: 70%;
  --color-lig: 30%;

  --bg-color-hue: 88deg;
  --bg-color-sat: 70%;
  --bg-color-lig: 60%;

  --bs-top-hue: 88deg;
  --bs-top-sat: 70%;
  --bs-top-lig: 40%;

  --bs-bot-hue: 88deg;
  --bs-bot-sat: 70%;
  --bs-bot-lig: 30%;

  --hover-hue: 88deg;
  --hover-sat: 70%;
  --hover-lig: 75%;
}

/* pink */
[bonbon].pink {
  --color-hue: 340deg;
  --color-sat: 100%;
  --color-lig: 30%;

  --bg-color-hue: 340deg;
  --bg-color-sat: 100%;
  --bg-color-lig: 75%;

  --bs-top-hue: 340deg;
  --bs-top-sat: 70%;
  --bs-top-lig: 50%;

  --bs-bot-hue: 340deg;
  --bs-bot-sat: 80%;
  --bs-bot-lig: 40%;

  --hover-hue: 340deg;
  --hover-sat: 100%;
  --hover-lig: 83%;
}

[bonbon].transparent {
  color: rgba(0, 0, 0, 0.5) !important;
}

[bonbon].transparent,
[bonbon].transparent:hover,
[bonbon].transparent:active {
  background-color: transparent;
  background-image: none;
}

[bonbon].transparent:hover {
  opacity: 0.9;
}

/* -------------- States -------------- */
button[bonbon]:active {
  background-image: -webkit-gradient(radial, 50% 0, 100, 50% 0, 0, from(rgba(255, 255, 255, 0)), to(rgba(255, 255, 255, 0)));

  background-image: -moz-gradient(radial, 50% 0, 100, 50% 0, 0, from(rgba(255, 255, 255, 0)), to(rgba(255, 255, 255, 0)));

  background-image: gradient(radial, 50% 0, 100, 50% 0, 0, from(rgba(255, 255, 255, 0)), to(rgba(255, 255, 255, 0)));

  -webkit-box-shadow: inset rgba(255, 255, 255, 0.6) 0 0.3em 0.3em, inset rgba(0, 0, 0, 0.2) 0 -0.1em 0.3em, rgba(0, 0, 0, 0.4) 0 0.1em 1px,
    /* border */ rgba(0, 0, 0, 0.2) 0 0.2em 6px;
  -moz-box-shadow: inset rgba(255, 255, 255, 0.6) 0 0.3em 0.3em, inset rgba(0, 0, 0, 0.2) 0 -0.1em 0.3em, rgba(0, 0, 0, 0.4) 0 0.1em 1px,
    /* border */ rgba(0, 0, 0, 0.2) 0 0.2em 6px;
  box-shadow: inset rgba(255, 255, 255, 0.6) 0 0.3em 0.3em, inset rgba(0, 0, 0, 0.2) 0 -0.1em 0.3em, rgba(0, 0, 0, 0.4) 0 0.1em 1px,
    /* border */ rgba(0, 0, 0, 0.2) 0 0.2em 6px;

  -webkit-transform: translateY(0.2em);
  -moz-transform: translateY(0.2em);
  transform: translateY(0.2em);
}

[bonbon][disabled],
[bonbon][disabled]:hover,
[bonbon].disabled,
[bonbon].disabled:hover {
  opacity: 0.5;
  cursor: default;
  color: rgba(0, 0, 0, 0.2) !important;
  text-shadow: none !important;
  background-color: rgba(0, 0, 0, 0.05);
  background-image: none;
  border-top: none;

  -webkit-box-shadow: inset rgba(255, 254, 255, 0.4) 0 0.3em 0.3em, inset rgba(0, 0, 0, 0.1) 0 -0.1em 0.3em, rgba(0, 0, 0, 0.3) 0 0.1em 1px,
    /* border */ rgba(0, 0, 0, 0.2) 0 0.2em 6px;
  -moz-box-shadow: inset rgba(255, 254, 255, 0.4) 0 0.3em 0.3em, inset rgba(0, 0, 0, 0.1) 0 -0.1em 0.3em, rgba(0, 0, 0, 0.3) 0 0.1em 1px,
    /* border */ rgba(0, 0, 0, 0.2) 0 0.2em 6px;
  box-shadow: inset rgba(255, 254, 255, 0.4) 0 0.3em 0.3em, inset rgba(0, 0, 0, 0.1) 0 -0.1em 0.3em, rgba(0, 0, 0, 0.3) 0 0.1em 1px,
    /* border */ rgba(0, 0, 0, 0.2) 0 0.2em 6px;

  -webkit-transform: translateY(5px);
  -moz-transform: translateY(5px);
  transform: translateY(5px);
}

/* -------------- Fonts -------------- */
.serif {
  font-family: 'Lobster', serif;
  font-weight: normal;
}

/* -------------- Sizes -------------- */
.xs {
  font-size: 16px;
}
.xl {
  font-size: 32px;
}

/* -------------- Materials -------------- */
[bonbon].glossy:after,
[bonbon].glass:after {
  content: '';
  position: absolute;
  width: 90%;
  height: 60%;
  top: 0;
  left: 5%;

  -webkit-border-radius: 0.5em 0.5em 1em 1em / 0.5em 0.5em 2em 2em;
  -moz-border-radius: 0.5em 0.5em 1em 1em / 0.5em 0.5em 2em 2em;
  border-radius: 0.5em 0.5em 1em 1em / 0.5em 0.5em 2em 2em;

  background-image: -webkit-gradient(
    linear,
    0% 0,
    100% 0,
    from(rgba(255, 255, 255, 0.55)),
    to(rgba(255, 255, 255, 0.5)),
    color-stop(0.5, rgba(255, 255, 255, 0)),
    color-stop(0.8, rgba(255, 255, 255, 0))
  );

  background-image: -moz-linear-gradient(
    left,
    rgba(255, 255, 255, 0.55),
    rgba(255, 255, 255, 0) 50%,
    rgba(255, 255, 255, 0) 80%,
    rgba(255, 255, 255, 0.5)
  );

  background-image: gradient(
    linear,
    0% 0,
    100% 0,
    from(rgba(255, 255, 255, 0.55)),
    to(rgba(255, 255, 255, 0.5)),
    color-stop(0.5, rgba(255, 255, 255, 0)),
    color-stop(0.8, rgba(255, 255, 255, 0))
  );
}

[bonbon].glossy:active:after,
[bonbon].glass:active:after,
[bonbon].disabled:after,
[bonbon][disabled]:after {
  opacity: 0.6;
}

[bonbon].icon.glossy:after,
[bonbon].icon.glass:after {
  height: 75%;
}

/* -------------- Glass + Transparent -------------- */
[bonbon].glass {
  text-shadow: rgba(255, 255, 255, 0.5) 0 -1px 0, rgba(0, 0, 0, 0.18) 0 0.18em 0.15em;
}

[bonbon].glass:active {
  text-shadow: rgba(255, 255, 255, 0.3) 0 1px 0, rgba(0, 0, 0, 0.15) 0 0.18em 0.15em;
}

/* -------------- Shapes -------------- */

/* round */
[bonbon].round,
[bonbon].round.glossy:after,
[bonbon].round.glass:after {
  border-top: none;
  -webkit-border-radius: 1em;
  -moz-border-radius: 1em;
  border-radius: 1em;
}

/* oval */
[bonbon].oval {
  border-top: none;
  padding-left: 0.8em;
  padding-right: 0.8em;
  -webkit-border-radius: 5em / 2em;
  -moz-border-radius: 5em / 2em;
  border-radius: 5em / 2em;
}
[bonbon].oval.glossy:after,
[bonbon].oval.glass:after {
  top: 5%;
  -webkit-border-radius: 5em / 2em 2em 1em 1em;
  -moz-border-radius: 5em / 2em 2em 1em 1em;
  border-radius: 5em / 2em 2em 1em 1em;
}
[bonbon].oval.icon {
  padding-left: 0.8em;
  padding-right: 0.8em;
  -webkit-border-radius: 1.5em / 1em;
  -moz-border-radius: 1.5em / 1em;
  border-radius: 1.5em / 1em;
}
[bonbon].oval.icon.glossy:after,
[bonbon].oval.icon.glass:after {
  -webkit-border-radius: 1.5em / 1em;
  -moz-border-radius: 1.5em / 1em;
  border-radius: 1.5em / 1em;
}

/* brackets */
[bonbon].brackets,
[bonbon].brackets.glossy:after,
[bonbon].brackets.glass:after {
  border-top: none;
  -webkit-border-radius: 0.5em / 1em;
  -moz-border-radius: 0.5em / 1em;
  border-radius: 0.5em / 1em;
}

/* skew */
[bonbon].skew {
  border-top: none;
  padding-right: 1.2em;
  padding-left: 0.8em;
  -webkit-border-radius: 5em 1em / 5em 1em;
  -moz-border-radius: 5em 1em / 5em 1em;
  border-radius: 5em 1em / 5em 1em;
}
[bonbon].skew.glossy:after,
[bonbon].skew.glass:after {
  left: 10%;
  -webkit-border-radius: 7em 1em / 5em 1em;
  -moz-border-radius: 7em 1em / 5em 1em;
  border-radius: 7em 1em / 5em 1em;
}
[bonbon].skew.icon {
  padding-right: 0.9em;
  padding-left: 0.8em;
}

/* back */
[bonbon].back,
[bonbon].back.glossy:after,
[bonbon].back.glass:after {
  border-top-color: rgba(255, 255, 255, 0.5);
  -webkit-border-radius: 1.6em 1.6em 1em 1em / 4em 4em 1em 1em;
  -moz-border-radius: 1.6em 1.6em 1em 1em / 4em 4em 1em 1em;
  border-radius: 1.6em 1.6em 1em 1em / 4em 4em 1em 1em;
}
[bonbon].back.glossy:after,
[bonbon].back.glass:after {
  left: 6%;
  width: 88%;
}

/* knife */
[bonbon].knife {
  padding-left: 1.5em;
  -webkit-border-radius: 0.2em 0.5em 0.5em 8em / 0.2em 0.5em 0.5em 5em;
  -moz-border-radius: 0.2em 0.5em 0.5em 8em / 0.2em 0.5em 0.5em 5em;
  border-radius: 0.2em 0.5em 0.5em 8em / 0.2em 0.5em 0.5em 5em;
}
[bonbon].knife.glossy:after,
[bonbon].knife.glass:after {
  left: 3%;
  width: 97%;
  -webkit-border-radius: 0.1em 0.5em 0.5em 8em / 0.1em 0.5em 0.5em 2em;
  -moz-border-radius: 0.1em 0.5em 0.5em 8em / 0.1em 0.5em 0.5em 2em;
  border-radius: 0.1em 0.5em 0.5em 8em / 0.1em 0.5em 0.5em 2em;
}
[bonbon].knife.glossy.icon:after,
[bonbon].knife.glass.icon:after {
  left: 5%;
  width: 95%;
  -webkit-border-radius: 0.5em 0.5em 1em 6em / 0.5em 0.5em 1em 4em;
  -moz-border-radius: 0.5em 0.5em 1em 6em / 0.5em 0.5em 1em 4em;
  border-radius: 0.5em 0.5em 1em 6em / 0.5em 0.5em 1em 4em;
}

/* shield */
[bonbon].shield,
[bonbon].shield.glossy:after,
[bonbon].shield.glass:after {
  -webkit-border-radius: 0.4em 0.4em 2em 2em / 0.4em 0.4em 3em 3em;
  -moz-border-radius: 0.4em 0.4em 2em 2em / 0.4em 0.4em 3em 3em;
  border-radius: 0.4em 0.4em 2em 2em / 0.4em 0.4em 3em 3em;
}
[bonbon].shield {
  padding-left: 0.8em;
  padding-right: 0.8em;
}
[bonbon].shield.icon {
  padding-left: 0.6em;
  padding-right: 0.6em;
}

/* drop */
[bonbon].drop {
  border-top: none;
  -webkit-border-radius: 2em 5em 2em 0.6em / 2em 4em 2em 0.6em;
  -moz-border-radius: 2em 5em 2em 0.6em / 2em 4em 2em 0.6em;
  border-radius: 2em 5em 2em 0.6em / 2em 4em 2em 0.6em;
}
[bonbon].drop.glossy:after,
[bonbon].drop.glass:after {
  left: 4%;
  -webkit-border-radius: 2em 6em 2em 1em / 2em 4em 2em 2em;
  -moz-border-radius: 2em 6em 2em 1em / 2em 4em 2em 2em;
  border-radius: 2em 6em 2em 1em / 2em 4em 2em 2em;
}
[bonbon].drop.icon {
  padding-right: 0.6em;
}

/* morph */
[bonbon].morph {
  border-top: none;
  -webkit-border-radius: 5em / 2em;
  -moz-border-radius: 5em / 2em;
  border-radius: 5em / 2em;
  -webkit-transition: -webkit-border-radius 0.3s ease-in-out;
  -moz-transition: -moz-border-radius 0.3s ease-in-out;
  transition: -moz-border-radius 0.3s ease-in-out;
}
[bonbon].morph:hover {
  -webkit-border-radius: 0.4em 0.4em 2em 2em / 0.4em 0.4em 3em 3em;
  -moz-border-radius: 0.4em 0.4em 2em 2em / 0.4em 0.4em 3em 3em;
  border-radius: 0.4em 0.4em 2em 2em / 0.4em 0.4em 3em 3em;
}
[bonbon].morph:active {
  -webkit-border-radius: 0.3em;
  -moz-border-radius: 0.3em;
  border-radius: 0.3em;
}
[bonbon].morph:after {
  display: none;
}
