@font-face {
  font-family: "Sacramento";
  src: url(assets/fonts/Sacramento-Regular.ttf);
}

@font-face {
  font-family: "FrederickatheGreat";
  src: url(assets/fonts/FrederickatheGreat-Regular.ttf);
}

@font-face {
  font-family: "RougeScript";
  src: url(assets/fonts/RougeScript-Regular.ttf);
}

@font-face {
  font-family: "FascinateInline";
  src: url(assets/fonts/FascinateInline-Regular.ttf);
}

@font-face {
  font-family: "Pacifico";
  src: url(assets/fonts/Pacifico-Regular.ttf);
}
