ion-title {
  font-family: "FrederickatheGreat";
  font-size: 30px;
}

ion-content {
  --background: url("/assets/wallpapers/nature.jpg") 0 0/100% 100% no-repeat;
  --padding-top: 50px;
  --padding-bottom: 50px;
  --padding-start: 50px;
  --padding-end: 50px;
}

.what-animal {
  background: white;
  margin: auto;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  padding: 20px;
  display: block;
  border-radius: 10px;
  margin-bottom: 20px;
}

.animal-options {
  display: grid;
  grid-template-columns: 47% 47%;
  grid-column-gap: 6%;
  grid-row-gap: 6%;
}
