<ion-header [translucent]="true" mode="md">
  <ion-toolbar>
    <ion-title>
      Quem é este animal?
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <img class="what-animal" src="assets/animals/filled/camel.svg" />

  <div class="animal-options">
    <img src="assets/animals/plain/fish.svg" />
    <img src="assets/animals/plain/camel.svg" />
    <img src="assets/animals/plain/crab.svg" />
    <img src="assets/animals/plain/cat.svg" />
    <a class="button orange serif skew glossy xs">
      <img src="assets/animals/plain/cat.svg" />
    </a>
  </div>

</ion-content>